In [2]:
#1 write a python program to convert a string to lower case

In [99]:
# write a pyhon program to convert a string to lower case

In [5]:
x='CHIRUVEDHA'

In [6]:
x.lower()

'chiruvedha'

In [7]:
# write a python program to convertonly odd indexed characters into lower case

In [12]:
x='SRIRAM'

In [17]:
x[0].upper()+x[1].lower()+x[2].upper()+x[3].lower()+x[4].upper()+x[5].lower()

'SrIrAm'

In [18]:
# write a python program to convert only even indexed character to lower case

In [19]:
x='HANUMAN'

In [20]:
x[0].lower()+x[1].upper()+x[2].lower()+x[3].upper()+x[4].lower()+x[5].upper()+x[6].lower()

'hAnUmAn'

In [21]:
# write a python program to convert only odd indexed character to upper  case

In [22]:
x='ramana'

In [23]:
x[0].lower()+x[1].upper()+x[2].lower()+x[3].upper()+x[4].lower()+x[5].upper()

'rAmAnA'

In [25]:
# write a python program to convert only even indexed character to upper case

In [26]:
x='venkat'

In [27]:
x[0].upper()+x[1].lower()+x[2].upper()+x[3].lower()+x[4].upper()+x[5].lower()

'VeNkAt'

In [28]:
# write a python program where you have differant variable which contains your name,sex,age,phoneno and mothers name.and create a variable named bio-data where you will use all this variable

In [36]:
name='chiranjeevi'
sex='male'
age=23
ph_no=9008712345
fathername='venky'
mothername='ramana'
'my name is {} mysex is {} my age is {} my ph_no is {} my father name is {} and my mother name is {}'.format(name,sex,age,ph_no,fathername,mothername)

'my name is chiranjeevi mysex is male my age is 23 my ph_no is 9008712345 my father name is venky and my mother name is ramana'

In [37]:
# write a python program to count how many times "@" occured

In [38]:
x='asd@fe@ff@@d'

In [39]:
x.count('@')

4

In [98]:
# write a python program to get only names from the string 'name1.@gmail.com,name2.@gmail.com,name3.@gmail.com'

In [97]:
x='name1.@gmail.com,name2.@gmail.com,name3.@gmail.com'

x.replace('name1.@gmail.com','name1').replace('name2.@gmail.com','name2').replace('name3.@gmail.com','name3')

'name1,name2,name3'

In [40]:
# given a string of odd length greater than 9,return a new string made of middle three character of a given strings

In [72]:
x='mynameisan'

In [73]:
x[4:7]

'mei'

In [43]:
# write a python program to insert a 2string in the middle of 1string

In [65]:
x='myn'
y='sa'
x[0:1]+y[0:2]+x[1:3]

'msayn'

In [49]:
# write a program to remove vowels from entire alphabet

In [62]:
x='abcdefghijklmnopqrstuvwxyz'
x[1:4]+x[5:8]+x[9:14]+x[15:20]

'bcdfghjklmnpqrst'